body {
    /* background-color: #f9f7fe; */
    cursor: url("wind-rose.png"),auto; /* Image dimensions must by under 30 x 30 */
    font-family: piedra, sans-serif;
    background-image: url('2913097.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    max-width: 500px;
    margin: 100px auto 60px;
    background: beige;
    padding: 30px;
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
    border-radius: 10px;
     
}

select {
    font-family: piedra, sans-serif;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    font-size: 18px;
}

.mayflower-ship {
    height: 80px;
    transform: translate(-20px, 5%);
}

h1{
    text-align: center;
    font-size: 48px; 
    margin-top: 5px;
}

h2 {
    margin: 0 0 10px;
    font-size: 32px;
}

.city {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px 0;
    border-bottom: 1px dashed rgba(0,0,0,0.2);
}

.city:last-child {
    border: none;
}

.date {
    opacity: 0.7;
    font-size: 18px;
}
.time {
font-size: 48px;
font-weight: bold;
}

.time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 36px;
}

footer{
    background-color: beige;
    text-align: center;
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    max-width: 800px;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(94, 33, 33);
}
a:hover {
    text-decoration: underline;
}

.world-map{
    text-align: center;
}